.ant-table-wrapper .ant-table-tbody > tr > td {
    padding: 12px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ant-pagination .ant-pagination-item,
.ant-pagination .ant-pagination-prev,
.ant-pagination .ant-pagination-next {
    border: 2px solid #41b294;
    color: #000;
    padding: 0 8px;
}

.ant-pagination .ant-pagination-item-active {
    border: 2px solid rgba(17, 61, 60, 0.5);
    background: #41b294;
    color: #000;
}

.ant-pagination .ant-pagination-item:not(.ant-pagination-item-active):hover,
.ant-pagination .ant-pagination-prev:hover,
.ant-pagination .ant-pagination-next:hover {
    color: #fff;
    text-decoration: none;
    background-color: #41b294;
    border-color: #dee2e6;
}

.ant-pagination .ant-pagination-item a:hover {
    color: #fff;
}

.ant-pagination .ant-pagination-item-active a {
    color: #fff;
}

.ant-pagination .ant-pagination-item-active:hover {
    border: 2px solid rgba(17, 61, 60, 0.5);
    background: #41b294;
    color: #000;
}

.ant-pagination .ant-pagination-item-active:hover a {
    color: #fff;
}

:where(.css-dev-only-do-not-override-yp8pcc) a:hover {
    color: #fff;
}

span.anticon.anticon-left,
span.anticon.anticon-right {
    display: block;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-pagination.ant-pagination-mini .ant-pagination-prev,
:where(.css-dev-only-do-not-override-yp8pcc).ant-pagination.ant-pagination-mini .ant-pagination-next,
:where(.css-dev-only-do-not-override-yp8pcc).ant-pagination.ant-pagination-mini .ant-pagination-item {
    height: 32px;
    display: flex;
    align-items: center;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-pagination.ant-pagination-mini .ant-pagination-item {
    margin: 0 2px;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-pagination.ant-pagination-mini
    .ant-pagination-item:not(.ant-pagination-item-active) {
    border: 2px solid #41b294;
    display: flex;
    align-items: center;
}

.ant-pagination.ant-pagination-mini .ant-pagination-item:not(.ant-pagination-item-active):hover {
    border: 2px solid #dee2e6;
    background: #41b294;
    color: #fff;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-pagination.ant-pagination-mini
    .ant-pagination-prev:hover
    .ant-pagination-item-link,
:where(.css-dev-only-do-not-override-yp8pcc).ant-pagination.ant-pagination-mini
    .ant-pagination-next:hover
    .ant-pagination-item-link {
    background-color: transparent;
}
