.homePage {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 50px;
}

.doubleBox {
    left: 74%;
}

.sloganBox {
    display: flex;
    position: relative;
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.smallBox {
    position: absolute;
    z-index: 1;
    height: 10%;
    width: 10%;
    background-image: radial-gradient(#41b294 10%, transparent 11%), radial-gradient(#41b294 10%, transparent 11%);
    background-size: 10px 10px;
}

.sloganBox .smallboxRightTop {
    top: 0;
    right: 0;
    transform: rotate(45deg);
    background-image: radial-gradient(#f6ba35 10%, transparent 11%);
}

.smallboxLeftTop {
    top: 10%;
    left: 10%;
    height: 70px;
    width: 20%;
}

.sloganBox .smallboxRightBottom {
    bottom: 10%;
    height: 10%;
    width: 10%;
    left: 70%;
    background-image: radial-gradient(#ed85ab 10%, transparent 11%);
}

.triangleTopRight {
    transform: rotate(-45deg);
    position: absolute;
    top: 5%;
    left: 10%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 50px solid #f6ba35;
}

.sliderPlaneImg {
    position: absolute;
    object-fit: cover;
    right: 20%;
    top: 20%;
    width: 20%;
    height: 20%;
}

.sloganContainer h1 {
    position: relative;
    z-index: 10px;
    font-weight: 600;
    font-size: 50px;
}

.imgIcon {
    width: 80px !important;
    height: 80px;
}

.sloganContainer h1:nth-of-type(3) {
    font-size: 65px;
    color: #41b294;
    overflow: hidden;
    animation: aniText 5s steps(10) infinite;
}

.sloganContainer h1:nth-of-type(3) span {
    margin-left: 5px;
    font-size: 50px;
}

.btnSlider {
    padding: 10px 20px;
}

.btnGlobal {
    color: #fff;
}

.sloganBox .doubleBox {
    left: 74%;
}

.sliderRight {
    position: relative;
}

.sliderMainImg {
    width: 100%;
}

.sliderSubImg {
    position: absolute;
    width: 15%;
    height: 15%;
}

.sliderCodeImg {
    left: 20%;
    top: 50%;
    animation: aniSider 4s infinite;
}

.sliderMesImg {
    top: 42%;
    right: 45%;
    transform-origin: bottom;
    animation: aniMessage 4s linear 3s infinite;
}

.sliderCloudImg {
    top: 0;
    left: 0;
    animation: aniCloud 5s linear infinite;
}

.sliderCloud2Img {
    top: 30%;
    left: 20%;
    animation: aniCloud 7s linear 2s infinite;
}

.sliderCloud3Img {
    top: 15%;
    left: 25%;
    animation: aniCloud 5s linear 2s infinite;
}

.sliderHome {
    flex-direction: column-reverse;
}

.infoCourseBox {
    padding: 50px 0;
}

.infoCourseHome {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #fff;
    grid-gap: 20px;
    gap: 20px;
}

.infoCoureBox {
    padding: 50px 0;
}
.infoCourseHome {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #fff;
    gap: 20px;
}

.infoLargeItem {
    grid-row: 1 / span 2;
    background-color: #41b294;
    background-image: url(../../../../public/image/astronaut.3c90d598.png);
    background-position: 100% 100%;
    background-size: 50%;
    background-repeat: no-repeat;
}

.infoItemHome {
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.infoItemHome h3 {
    text-transform: uppercase;
    font-weight: 500;
}

.infoItemHome li {
    padding: 5px;
}

.infoItemHome li i {
    padding-right: 10px;
}

.infoItemHome:hover .infoItemContent::before {
    animation: shine 1.5s;
}

.infoLargeItem p {
    font-weight: 300;
}

.infoLargeItem p span {
    font-weight: 700;
}

.infoItemContent::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: -160%;
    width: 50%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-17deg);
}

.infoSmallItemA {
    background-color: #f6ba35;
}

.infoSmallItemB {
    background-color: #5c8295;
}
.infoSmallItemC {
    background-color: #63c0a8;
}

@keyframes aniMessage {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes aniSlider {
    0% {
        opacity: 0;
        transform: translateY(-5%);
    }
    50% {
        opacity: 1;
        transform: translateY(-10%);
    }
    100% {
        opacity: 0;
        transform: translateY(-15%);
    }
}

@keyframes aniCloud {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes aniText {
    0% {
        width: 0;
    }
    50% {
        width: 230px;
    }
}

@keyframes shine {
    100% {
        left: 170%;
    }
}

.listCourseCategory {
    padding: 50px;
}

.cardGlobalRes {
    display: flex;
    justify-content: center;
}
.cardGlobal {
    position: relative;
    display: flex;
    width: 280px;
    min-width: 280px;
    min-height: 370px;
    flex-direction: column;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
}

.cardGlobal > img {
    height: 185px;
    min-height: 185px;
}

.stickerCard {
    display: inline-block;
    position: absolute;
    z-index: 10;
    top: 174px;
    padding: 0 10px;
    color: #fff;
    background-color: #41b294;
}

.cardBodyGlobal {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 20px;
}

.cardBodyGlobal h6 {
    padding: 0 0 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

.cardIcon {
    display: flex;
    align-items: center;
}

.textStar {
    color: #f6ba35;
}

.cardIcon span i {
    margin-right: 8px;
}

.iconOclock {
    color: #f5c002;
}

.iconCalendar {
    color: #f06f68;
}

.iconLevel {
    color: #65c9ff;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.titleMaker {
    display: flex;
    align-items: center;
}

.colorCardTitle {
    color: #8c8c8c;
    font-size: 12px;
}

.coursesHome {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coursesHome ul li {
    margin: 0 20px;
}
.cateCourse {
    display: flex;
}
.coursesHome ul li a {
    border-radius: 20px;
    padding: 10px 15px;
    transition: all 0.5s;
}

.coursesHome ul li:hover a {
    background-color: #41b294;
    color: #fff;
}

.courseHome h6 a {
    font-weight: 600;
    color: #f6ba35;
}

.cardEffect {
    transition: all 0.5s;
}

.cardEffect:hover {
    transform: translateY(-2px);
}

.imgCardFooter {
    width: 40px;
    height: 40px;
    padding: 2px;
    border-color: #f6ba35 transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #f6ba35;
    border-right: 1px solid transparent;
    border-top: 1px solid #f6ba35;
    border-radius: 50%;
}

.imgCardFooter img {
    width: 100%;
}

.cardFooter p:first-of-type {
    font-size: 12px;
    color: #8c8c8c;
    text-decoration-line: line-through;
}

.cardFooter p:nth-of-type(2) {
    font-weight: 500;
    color: #41b294;
}

.cardFooter .iconTag {
    font-size: 18px;
    color: red;
    margin-left: 4px;
}

.moveSubCard .subCard {
    right: 0;
    left: -132%;
}

.moveSubCard .subCard::before {
    left: 100%;
    border-left: 15px solid #fff;
    border-right: 15px solid transparent;
}

.subCard {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
    top: -10%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
    width: 350px;
    min-width: 280px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}

.subCard:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    border-right: 15px solid transparent;
}

.btnSubCard {
    background-color: #41b294;
}

.cardSale {
    position: absolute;
    top: 5px;
    left: -5px;
    width: 85px;
    height: 30px;
    padding: 5px 8px 4px;
    color: #fff;
    background-color: red;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

.cardSale:before,
.cardSale:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
}
.cardSale:before {
    left: 0;
    bottom: -10px;
    border-bottom: 10px solid transparent;
    border-right: 5px solid red;
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}
.cardSale:after {
    top: 0;
    right: -12px;
    border-color: red transparent;
    border-style: solid;
    border-width: 15px 12px 15px 0;
}

/* Mobie */
@media screen and (max-width: 46.1875em) {
    .sliderHome {
        flex-direction: column-reverse;
    }
    .sloganContainer h1 {
        font-size: 40px;
    }
    .sliderPlaneImg {
        position: absolute;
        object-fit: contain;
        right: 25%;
        top: 0%;
        width: 25%;
        height: 30%;
    }
    .infoCourseHome {
        grid-template-columns: none !important;
    }
    .subCard {
        display: none;
    }
    .instructorContent p i {
        font-size: 13px;
    }

    /* Slider Mentor */
    #sliderInstrutors:checked ~ .instrutorItem .row {
        transform: translateX(-100%);
    }
    /* Review Student */
    .triangleTopRight {
        left: 15%;
    }
    .reviewStudent .smallboxLeftTop {
        width: 15%;
    }

    .reviewStudent .smallboxRightTop {
        right: 0;
    }

    .reviewStudent .smallboxRightBottom {
        display: none;
    }
    .reviewStudent .smallboxLeftBottom {
        left: auto;
        right: 0;
    }
}

/* Tablet */
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .sliderHome {
        flex-direction: column-reverse;
    }
    .sliderPlaneImg {
        position: absolute;
        object-fit: contain;
        right: 25%;
        top: 0%;
        width: 25%;
        height: 30%;
    }
    .infoCourseHome {
        grid-template-columns: none;
    }
    .instructorContent {
        padding: 5px;
    }
    .instructorContent p i {
        font-size: 13px;
    }
    /* Slider Mentor */
    #sliderInstructors:checked ~ .instrutorItem .row {
        transform: translateX(-50%);
    }
}
